@model CattleFarmManagement.Shared.Dtos.EmployeeDtos.ContactEmployeeDto

<div class="col-4">
    <div class="card border-primary mb-3" style="max-width: 30rem;">
        <div class="card-header">Phone Number</div>
        <div class="card-body text-primary">
            <p class="card-text">@Model.PhoneNumber</p>
        </div>
    </div>
</div>

<div class="col-4">
    <div class="card border-secondary mb-3" style="max-width: 30rem;">
        <div class="card-header">Email</div>
        <div class="card-body text-secondary">
            <p class="card-text">@Model.Email</p>
        </div>
    </div>
</div>

<div class="col-4">
    <div class="card border-success mb-3" style="max-width: 30rem;">
        <div class="card-header">Address</div>
        <div class="card-body text-success">
            <p class="card-text">@Model.Address</p>
        </div>
    </div>
</div>
