


<div class="col-xl-4">
    <div class="stats stats-success">
        <h3 class="stats-title"> Total</h3>
        <div class="stats-content">
            <div class="stats-icon">
                <i class="fas fa-venus-mars"></i>
            </div>
            <div class="stats-data">
                <div class="stats-number">@ViewBag.total</div>
                <div class="stats-change">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-4">
    <div class="stats stats-primary ">
        <h3 class="stats-title"> Bulls </h3>
        <div class="stats-content">
            <div class="stats-icon">
                <i class="fas fa-mars"></i>
            </div>
            <div class="stats-data">
                <div class="stats-number">@ViewBag.bull</div>
                <div class="stats-change">
                    
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-xl-4">
    <div class="stats stats-danger ">
        <h3 class="stats-title"> Cows </h3>
        <div class="stats-content">
            <div class="stats-icon">
                <i class="fas fa-venus"></i>
            </div>
            <div class="stats-data">
                <div class="stats-number">@ViewBag.cow</div>
                <div class="stats-change">
                   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <img src="~/img/cowpic.jpg" style="background-repeat:no-repeat; opacity:0.3; width:1600px; max-height:500px" />
</div>

